.md-header {
    background-color: #3465a4;
}
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height:1.5rem;
}

.large-quote {
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5em;
}